{% extends 'biblioteca/base.html' %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h3>{{ libro.titulo }}</h3>
        <p class="text-muted">Por {{ libro.autor }}</p>
        <hr>
        <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
        <p><strong>Categoría:</strong> {{ libro.get_categoria_display }}</p>
        <p><strong>Precio Préstamo:</strong> ${{ libro.precio_prestamo }} CLP</p>
        <p><strong>Copias Disponibles:</strong> {{ libro.stock_copias }}</p>
        <p><strong>Estado:</strong> {% if libro.disponible %}<span class="badge bg-success">Disponible</span>{% else %}<span class="badge bg-danger">No Disponible</span>{% endif %}</p>
        <p><strong>Fecha Publicación:</strong> {{ libro.fecha_publicacion }}</p>
        <a href="{% url 'lista_libros' %}" class="btn btn-secondary">Volver al catálogo</a>
    </div>
</div>
{% endblock %}